/* poppins-100 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/poppins-v20-latin-100.woff2") format("woff2"), url("../fonts/poppins-v20-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-200 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/poppins-v20-latin-200.woff2") format("woff2"), url("../fonts/poppins-v20-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-900 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.woff2") format("woff2"), url("../fonts/poppins-v20-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
  font-family: "Poppins";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  background: #fff;
}

.container {
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

#modal {
  position: fixed;
  width: 500px;
  height: 600px;
  padding: 15px;
  background-color: #fff;
  border-bottom: 10px solid #46A358;
  z-index: 999;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#modal #close-btn {
  width: 12px;
  height: 12px;
  margin-left: auto;
  display: block;
  transition: 0.5s;
}
#modal #close-btn:hover {
  transform: scale(1.5);
}

#modal.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

#blur.active {
  filter: blur(20px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-content {
  width: 300px;
  height: 482px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.modal-content__span {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  line-height: 16px;
  color: #3D3D3D;
}

.modal-login {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: #3D3D3D;
  transition: 0.5s;
}
.modal-login:hover {
  transform: scale(1.1);
}

.modal-registar {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: #3D3D3D;
  transition: 0.5s;
}
.modal-registar:hover {
  transform: scale(1.1);
}

.modal-content__active {
  color: #46A358;
}

.modal-text {
  margin-top: 53px;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.modal-form {
  text-align: start;
}

.modal-form input {
  width: 300px;
  padding: 12px 14px;
  outline: none;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
}

input + input {
  margin-top: 14px;
}

.modal__forget-password {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #46A358;
  margin-top: 14px;
  margin-bottom: 27px;
  text-align: end;
  transition: 0.5s;
}
.modal__forget-password:hover {
  color: #07de32;
  transform: scale(1.1);
}

.modal-content__btn {
  width: 300px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 16px 0;
  background: #46A358;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
  margin-bottom: 46px;
}
.modal-content__btn:hover {
  background: #07de32;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.modal-content__login-with__google {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #3D3D3D;
  position: relative;
}
.modal-content__login-with__google::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  top: 5px;
  left: 0;
  background: #EAEAEA;
}
.modal-content__login-with__google::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  top: 5px;
  right: 0;
  background: #EAEAEA;
}

.modal-login__with-google {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin-top: 27px;
  color: #727272;
  padding: 10px 0;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  transition: 0.5s;
}
.modal-login__with-google:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.modal-login__with-google img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.modal-login__with-facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #727272;
  margin-top: 14px;
  padding: 10px 0;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  transition: 0.5s;
}
.modal-login__with-facebook:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.modal-login__with-facebook img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.header-wrappaer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 15px;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.header-logo {
  transition: 0.5s;
}
.header-logo:hover {
  transform: scale(1.1);
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-item {
  position: relative;
}

.header-item.active::after {
  content: "";
  position: absolute;
  max-width: 100%;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -24px;
  background: #46A358;
}
.header-item.active a {
  font-weight: 700;
}

.header-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3D3D3D;
  transition: 0.5s;
}
.header-link::after {
  content: "";
  position: absolute;
  max-width: 0;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -24px;
  background: #46A358;
  transition: 0.5s;
}
.header-link:hover {
  color: #46A358;
}

.header-link:hover::after {
  max-width: 100%;
}

.header-navbar {
  max-width: 351px;
  width: 100%;
}

.header-login__search {
  width: 20px;
  height: 20px;
  border: none;
  background-image: url("/assets/images/search.svg");
  background-color: transparent;
  transition: all 0.5s ease;
}
.header-login__search:hover {
  transform: translateY(-4px);
}

.header-login__shop {
  width: 24px;
  height: 24px;
  border: none;
  background-image: url("/assets/images/shopping.svg");
  background-color: transparent;
  margin-left: 30px;
  margin-right: 35px;
  transition: all 0.5s ease;
}
.header-login__shop:hover {
  transform: translateY(-4px);
}

.header-login__green-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 8px 17px 7px 41px;
  background: #46A358;
  border-radius: 6px;
  border: none;
  background-image: url("/assets/images/logout.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 18px;
  transition: all 0.5s ease;
}
.header-login__green-btn:hover {
  background: #07de32;
  background-image: url("/assets/images/logout.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 18px;
  transform: translateY(-4px);
}

.header-wrapper__mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .header-wrappaer {
    display: none;
  }
  .header-wrapper__mobile {
    padding-top: 41px;
    display: flex;
    gap: 8px;
  }
  .header-mobile__input {
    max-width: 100%;
    width: 100%;
    padding: 14.5px 0 14.5px 41px;
    background: url("/assets/images/search.svg"), #F8F8F8;
    background-position-y: center;
    background-position-x: 11px;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #A5A5A5;
  }
  .header-menu {
    width: 45px;
    height: 45px;
    background-image: url("/assets/images/menu.svg");
    background-position: center;
    background-position-y: -10px;
    border: none;
    box-shadow: 0px 10px 20px rgba(70, 163, 88, 0.3);
    border-radius: 14px;
    -webkit-animation-name: menubtn;
            animation-name: menubtn;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
            animation-iteration-count: 2;
    transform: rotateY(0);
  }
  @-webkit-keyframes menubtn {
    50% {
      transform: rotateY(3.142rad);
    }
    100% {
      transform: rotateY(0);
    }
  }
  @keyframes menubtn {
    50% {
      transform: rotateY(3.142rad);
    }
    100% {
      transform: rotateY(0);
    }
  }
  .container {
    padding: 0 40px;
  }
}
.hero-description1 {
  display: none;
}

.hero-block {
  background-image: url("/assets/images/desktop-hero.png");
  padding-top: 12px;
  background-position-x: center;
}

.hero-title {
  padding-top: 88px;
  padding-left: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D3D3D;
}

.hero__sub-title {
  max-width: 590px;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #3D3D3D;
  padding-top: 7px;
  padding-left: 40px;
}
.hero__sub-title span {
  color: #46A358;
}

.hero-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
  margin-top: 10px;
  padding-left: 43px;
}

.hero-btn {
  margin-top: 44px;
  margin-left: 43px;
  margin-bottom: 85px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  padding: 10px 26.5px;
  background: #46A358;
  border-radius: 6px;
  transition: all 0.5s ease;
}
.hero-btn:hover {
  background: #07de32;
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  .hero-block {
    margin-top: 10px;
    background-image: url("/assets/images/mobile-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    border-radius: 72px;
    padding: 20px;
  }
  .hero-title {
    padding-top: 24px;
    padding-left: 23px;
    font-size: 11px;
    line-height: 16px;
  }
  .hero__sub-title {
    max-width: 222px;
    padding-left: 23px;
    padding-top: 5px;
    font-size: 24px;
    line-height: 29px;
  }
  .hero-description {
    display: none;
  }
  .hero-description1 {
    display: block;
    max-width: 206px;
    margin-top: 3px;
    padding-left: 23px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #727272;
  }
  .hero-btn {
    height: 190px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #46A358;
    background-color: transparent;
    margin-left: 24px;
    margin-bottom: 26px;
    margin-top: 10px;
    padding: 0;
    height: auto;
    position: relative;
  }
  .hero-btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -1px;
    right: -20px;
    width: 16px;
    height: 16px;
    background-image: url("/assets/images/arrow-right.svg");
    -webkit-animation-name: btnmover;
            animation-name: btnmover;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: 4;
            animation-iteration-count: 4;
    transform: translateX(0);
  }
  .hero-btn:hover {
    background-color: transparent;
  }
  @-webkit-keyframes btnmover {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes btnmover {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
.categories {
  padding-bottom: 219px;
}

.categories-wrapper {
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
}

.categories-wrapper__item-left {
  background: #FBFBFB;
  max-width: 310px;
}

.categories-title {
  padding-top: 14px;
  padding-left: 18px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #3D3D3D;
}

.item-left__list-item {
  padding-left: 30px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.5s;
}
.item-left__list-item:hover {
  transform: scale(1.1);
}
.item-left__list-item span {
  color: #3D3D3D;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
}

.item-left__list-item__link {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  color: #3D3D3D;
}

.green-text {
  color: #46A358;
}

.categories__price-range {
  padding-left: 18px;
}

.price-range__title {
  margin-top: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #3D3D3D;
}
.price-range__title::after {
  content: "";
  width: 214px;
  height: 438px;
  display: inline-block;
  background-image: url("/assets/images/price-range.svg");
  margin-top: -400px;
  margin-left: 4px;
  margin-bottom: 16px;
}

.price-range__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #3D3D3D;
}
.price-range__description span {
  font-weight: 700;
  color: #46A358;
}

.price-range__btn {
  margin-top: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 7.5px 25.5px;
  border: none;
  background: #46A358;
  border-radius: 6px;
  transition: 0.5s;
}
.price-range__btn:hover {
  background: #07de32;
  transform: scale(1.1);
}

.cotegories-size {
  padding-top: 46px;
  padding-right: 24px;
  padding-bottom: 19px;
  padding-left: 18px;
}

.size-title {
  padding-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #3D3D3D;
}

.size-list {
  padding-left: 12px;
}

.size-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}
.size-list__item:hover {
  transform: scale(1.1);
}

.size-list__item-link {
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  color: #3D3D3D;
}

.categories-img {
  height: 470px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #EFF7F0;
}
.categories-img img {
  margin-top: auto;
}

.categories-text__svg {
  position: absolute;
  z-index: 999;
  left: 22px;
}

.categories-wrapper__item-right {
  width: 838px;
}

.item-right__allplants {
  width: 838px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.allplants__list {
  width: 258px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.allplants-right {
  display: flex;
  gap: 8px;
}

.allplants-right select {
  border: none;
  background-color: transparent;
  outline: none;
}

.allplants-link {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #3D3D3D;
  transition: 0.5s;
}
.allplants-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -7px;
  background: #46A358;
  transition: 0.5s;
}
.allplants-link:hover {
  color: #46A358;
}

.allplants-link:hover::after {
  width: 100%;
}

.green-link {
  color: #46A358;
  font-weight: 700;
}
.green-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -7px;
  background: #46A358;
}

.allplants__plants-pictures {
  display: flex;
  flex-wrap: wrap;
  margin-top: 31px;
  gap: 32px;
}

.plants-pictures__item + .plants-pictures__item {
  margin-top: 20px;
}

.plants-pictures__item:first-child {
  margin-top: 20px;
}

.plants-pictures__item h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #3D3D3D;
  margin-top: 12px;
  margin-bottom: 6px;
}
.plants-pictures__item a {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #46A358;
  transition: 0.5s;
}
.plants-pictures__item a:hover {
  transform: scale(1.1);
}
.plants-pictures__item .del {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #A5A5A5;
}

.plants-pictures__item-flex {
  display: flex;
  gap: 16px;
}

.plants__hover-link {
  position: relative;
}

.plants__hover-link__box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #fff;
  box-shadow: 0 0 10px 3px gray;
  bottom: 0;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

.shopping-svg {
  left: 23%;
  transition: 1000ms;
}

.heart-svg {
  left: 50%;
  transform: translateX(-50%);
  transition: 800ms;
}

.search-svg {
  right: 23%;
  transition: 600ms;
}

.plants__hover-link:hover .plants__hover-link__box {
  opacity: 1;
  bottom: 10px;
}

.plants__hover-link__box svg:hover path {
  fill: #46A358;
}

.categoriesa__mobile {
  display: none;
}

@media screen and (max-width: 1440px) {
  .categories {
    display: none;
  }
  .categoriesa__mobile {
    display: inline-block;
    padding-top: 20px;
  }
  .cmobile-list {
    display: flex;
    gap: 30px;
  }
  .cmobile-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
    transition: 0.5s;
    position: relative;
  }
  .cmobile-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    right: 0;
    bottom: -7px;
    background: #46A358;
    transition: 0.5s;
  }
  .cmobile-link:hover {
    color: #46A358;
  }
  .cmobile-link:hover::after {
    width: 100%;
  }
  .cmobile-link__active {
    font-weight: 700;
    color: #46A358;
  }
  .cmobile-link__active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    right: 0;
    bottom: -7px;
    background: #46A358;
    transition: 0.5s;
  }
  .allplants__plants-pictures {
    margin-top: 20px;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 800px) {
  .plants__hover-link {
    border-radius: 20px;
    overflow: hidden;
  }
  .plants__hover-link__box {
    display: none;
  }
  .heart-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 15px;
    right: 0;
    transform: translateX(75px);
    opacity: 1;
  }
  .heart-svg:hover {
    background-color: rgba(255, 234, 0, 0.8980392157);
  }
  .plants__hover-link__box svg path {
    fill: #46A358;
  }
  .plants__hover-link__box svg:hover path {
    fill: #ff0000;
  }
}/*# sourceMappingURL=main.css.map */